<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
  <%= form.label :fecha %>
  <%= form.text_field :fecha %>
  </div>

  <div class="field">
  <%= form.label :contenido %>
  <%= form.text_area :contenido %>
  </div>

  <div class="field">
  <%= form.label :mensaje %>
  <%= form.text_area :mensaje %>
  </div>

  <div class="field revision">
  <%= form.label :revision %>
  <%= form.number_field :revision, :value => 1 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
