<p id="notice"><%= notice %></p>

<h1>Wikis</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Creador</th>
      <th>Fecha modificación</th>
      <th>Contenido</th>
      <th>Mensaje</th>
      <th>Revision</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.fecha %></td>
        <td><%= post.contenido %></td>
        <td><%= post.mensaje %></td>
        <td><%= post.revision %></td>
        <td><%= link_to 'Ver', post %></td>
        <td><%= link_to 'Editar', edit_post_path(post) %></td>
        <td><%= link_to 'Eliminar', post, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear nueva Wiki', new_post_path %>
