<p id="notice"><%= notice %></p>

<h1>Wikis</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Creator</th>
      <th>Edit Date</th>
      <th>Body</th>
      <th>Message</th>
      <th>Revisions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.creator %></td>
        <td><%= post.date %></td>
        <td><%= post.body %></td>
        <td><%= post.message %></td>
        <td><%= post.revision %></td>
        <td><%= link_to 'See', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create new Wiki', new_post_path %>
