<%= form_with(model: feed_view, local: true) do |form| %>
  <% if feed_view.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feed_view.errors.count, "error") %> prohibited this feed_view from being saved:</h2>

      <ul>
        <% feed_view.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_area :user %>
  </div>

  <div class="field">
    <%= form.label :comitts %>
    <%= form.text_area :comitts %>
  </div>

  <div class="field">
    <%= form.label :issues %>
    <%= form.text_area :issues %>
  </div>

  <div class="field">
    <%= form.label :pulls %>
    <%= form.text_area :pulls %>
  </div>
  
  <div class="field">
    <%= form.label :versions %>
    <%= form.text_area :versions %>
  </div>

  <div class="field">
    <%= form.label :gists %>
    <%= form.text_area :gists %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_area :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
