<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @feed_view.user %>
</p>

<p>
  <strong>Comitts:</strong>
  <%= @feed_view.comitts %>
</p>

<p>
  <strong>Issues:</strong>
  <%= @feed_view.issues %>
</p>

<p>
  <strong>Pulls:</strong>
  <%= @feed_view.pulls %>
</p>

<p>
  <strong>Versions:</strong>
  <%= @feed_view.versions %>
</p>

<p>
  <strong>Gists:</strong>
  <%= @feed_view.gists %>
</p>

<p>
  <strong>Date:</strong>
  <%= @feed_view.date %>
</p>

<%= link_to 'Edit', edit_feed_view_path(@feed_view) %> |
<%= link_to 'Back', feed_views_path %>
